doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/app.css')
  body
    block content
    script(type="text/javascript", src='/app.js')
    script(type="text/javascript", src='/bayeux.js')
